


body{
    margin-left: 2%;
    margin-right: 2%;
background-color:lavenderblush

}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

    font-family: 'Karla', sans-serif;
font-family: 'Xanh Mono', monospace;


}

.h1 { font-family: 'Karla', sans-serif;
    font-family: 'Xanh Mono', monospace;
    }