


body{
    margin-left: 1%;
    margin-right: 1%;
background-color:lavenderblush

}


.header {
  
  
    text-align:center;
    letter-spacing: 2px;
    

    font-family: 'Karla', sans-serif;
font-family: 'Xanh Mono', monospace;
color:black


}

h1 { font-family: 'Karla', sans-serif;
    font-family: 'Xanh Mono', monospace;
    letter-spacing: 2px;
    text-align: center;
    color:black
    }
    